<div class="footer">
    <div class="dividing-strip"></div>
    <div class="footer-link">
        <div class="politic-conf">Политика конфиденциальности<div>
        <div class="support">Техподдержка<div></div> 
        <div class="contact">Контакты<div>
    </div>
    <div class="footer-info">
        © 2025 студентческий релиз
    </div>
<div>
    
<style>
.footer{
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    font-size:1rem;
    align-items: center;
}
.dividing-strip{
    background-color: black;
    height: 2px;
    width: 80%;
    margin: 0 10px;
}
.footer-link{
    display: flex;
    justify-content:center;
}
.footer-info{
    display: flex;
    justify-content:flex-start;
}

</style>   