<div class="footer">
    <div class="dividing-strip"></div>
    <div class="footer-link">
        <i><a href="{% url 'political_conf' %}" class="politic-conf">Политика конфиденциальности</a></i>
        <i><a href="{% url 'support' %}" class="support">Техподдержка</a></i>
        <i><a href="{% url 'contact' %}" class="contact">Контакты</a></i>
    </div>
    <div class="footer-info">
        <i>© 2025 студенческий релиз</i>
    </div>
</div>
    
<style>
.footer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    font-size: 1rem;
    padding: 10px;
}

.dividing-strip {
    background-color: black;
    height: 2px;
    width: 100%; 
    margin: 10px 0;
    order: 1; 
}

.politic-conf, .support, .contact {
    cursor: pointer;
    transition: color 0.3s;
}
.politic-conf:hover, .support:hover, .contact:hover {
    color: #007bff;
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%; 
    order: 2; 
    margin: 10px 0;
}

.footer-info {
    width: 100%; 
    order: 3; 
    text-align: start;
    margin-top: 10px;
}

</style>   